In [1]:
from SmartApi.smartConnect import SmartConnect
import pyotp
import pandas as pd
api_key = 'C46AImmE'
clientId = 'M507690'
pwd = '4663'
smartApi = SmartConnect(api_key)
token = "4ACNNSIZL6EV6UQ2ACSI23H5VQ"
totp=pyotp.TOTP(token).now()
correlation_id = "abc123"

# login api call

data = smartApi.generateSession(clientId, pwd, totp)
# print(data)
authToken = data['data']['jwtToken']
refreshToken = data['data']['refreshToken']

# fetch the feedtoken
feedToken = smartApi.getfeedToken()

# fetch User Profile
res = smartApi.getProfile(refreshToken)
smartApi.generateToken(refreshToken)
res=res['data']['exchanges']

#fetch User Profile
userProfile= smartApi.getProfile(refreshToken)
User= pd.DataFrame(userProfile)
User = User['data']['name']
User
print(f"Welcome {User} to the World of SMART API BY ANGEL.....!!")
print(f"Login Sucessfull....!!")

[I 251216 00:44:35 smartConnect:124] in pool

Welcome MANA  BHATTACHARYYA to the World of SMART API BY ANGEL.....!!
Login Sucessfull....!!

In [2]:
position= smartApi.position()
position =pd.DataFrame(position['data'])
position=position[ (position['symbolname']=='NIFTY')]
#Saving Data
position.to_csv('position.csv')
position

,symboltoken,symbolname,instrumenttype,priceden,pricenum,genden,gennum,precision,multiplier,boardlotsize,...,netprice,buyqty,sellqty,buyamount,sellamount,pnl,realised,unrealised,ltp,close
0,48123,NIFTY,OPTIDX,1.00,1.00,1.00,1.00,2,-1,1,...,1.05,900,0,945.0,0.0,-135.00,-0.00,-135.00,0.9,1.45
1,48217,NIFTY,OPTIDX,1.00,1.00,1.00,1.00,2,-1,1,...,7.15,0,375,0.0,2681.25,-356.25,0.00,-356.25,8.1,13.7
2,48219,NIFTY,OPTIDX,1.00,1.00,1.00,1.00,2,-1,1,...,11.0,0,300,0.0,3300.0,-255.00,0.00,-255.00,11.85,18.55
3,48242,NIFTY,OPTIDX,1.00,1.00,1.00,1.00,2,-1,1,...,9.9,0,300,0.0,2970.0,45.00,0.00,45.00,9.75,27.25
4,48245,NIFTY,OPTIDX,1.00,1.00,1.00,1.00,2,-1,1,...,5.2,0,375,0.0,1950.0,-18.75,0.00,-18.75,5.25,17.15
5,48274,NIFTY,OPTIDX,1.00,1.00,1.00,1.00,2,-1,1,...,1.0,900,0,900.0,0.0,-180.00,-0.00,-180.00,0.8,1.4

In [3]:
position.iloc[1]

n = 0
for i in range(len(position)):
    m = int(float((position['pnl'].iloc[i])))
    #print(m)    
    Total_PNL = m+n
    n = Total_PNL
   
print(f"Total PNL = {Total_PNL}")

Total PNL = -899

In [4]:
n = 0
for i in range(len(position)):
    m = int(float((position['unrealised'].iloc[i])))
    #print(m)    
    Unrealised_PNL = m+n
    n= Unrealised_PNL
 
print(f"Total Unrealised PNL = {Unrealised_PNL}")

n = 0
for i in range(len(position)):
    m = int(float((position['realised'].iloc[i])))
    #print(m)    
    Realised_PNL = m+n
    n= Realised_PNL
  
print(f"Total Realised PNL = {Realised_PNL}")

Total Unrealised PNL = -899
Total Realised PNL = 0

In [5]:
position=position[ (position['unrealised']!= '0.00')]
position=position[ (position['sellavgprice']!= '0.00')]

print(f"Total PNL = {Total_PNL}")
print(f"Total Realised PNL = {Realised_PNL}")
print(f"Total Unrealised PNL = {Unrealised_PNL}")

#Saving Data
position.to_csv('position.csv')
position = position[['symboltoken','exchange','producttype','tradingsymbol','sellavgprice','netqty','pnl','realised','unrealised','ltp']]
position= position.rename(columns={'symboltoken':'token','exchange':'exchg','tradingsymbol':'symbol','sellavgprice':'SellPrice','symboltoken':'token'})
position

Total PNL = -899
Total Realised PNL = 0
Total Unrealised PNL = -899

,token,exchg,producttype,symbol,SellPrice,netqty,pnl,realised,unrealised,ltp
0,48123,NFO,CARRYFORWARD,NIFTY16DEC2524150PE,0.0,900,-135.00,-0.00,-135.00,0.9
1,48217,NFO,CARRYFORWARD,NIFTY16DEC2525800PE,7.15,-375,-356.25,0.00,-356.25,8.1
2,48219,NFO,CARRYFORWARD,NIFTY16DEC2525850PE,11.0,-300,-255.00,0.00,-255.00,11.85
3,48242,NFO,CARRYFORWARD,NIFTY16DEC2526200CE,9.9,-300,45.00,0.00,45.00,9.75
4,48245,NFO,CARRYFORWARD,NIFTY16DEC2526250CE,5.2,-375,-18.75,0.00,-18.75,5.25
5,48274,NFO,CARRYFORWARD,NIFTY16DEC2526700CE,0.0,900,-180.00,-0.00,-180.00,0.8